
body {
  margin: 0; 
  background-color: rgba(179, 179, 179, 0.65);
}

/* Crear franjas blancas a los lados de la página */
#container {
  display: flex; 
  justify-content: space-between; 
  flex-direction: column;
  background-color: bisque; 
  padding: 20px; 
}

/* Estilo para el contenido principal */
main {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
  padding: 25px; /* Ajusta el relleno del contenido principal según sea necesario */
}

/* clase navbar */

.sectionNav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(129, 129, 129, 0.992);
} 
.sectionNav a{
color: black;
}
.sectionNav img{
  width: 30px;
  height: 30px;
}

.SpaceWallet{
  margin-top: 13px;
}

/* Clase Items */

.imgItem{
  max-width: 540px;
}

.card{
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

/* Class ItemDetail */

.imgItemDetail{
  width: 18rem;
}

.buttonSpace{
  margin-top: 5px;
}

/* Clase Link */

.linkClass{
  color:black;
  text-decoration:underline;
  display: flex;
  justify-content: center;
}

/* Padding de productos */

.paddingTitles{
  padding-left: 6%;
}

.paddingCard{
  padding-left: 15%;
}

/* Padding Producs Detail */

.paddingItemDetail{
  text-align: center;
  display: flex;
  justify-content: space-around
}

.centerButtonItemCount{
  display: flex;
  justify-content: space-around;
}

/* Clases Cart */

.alaingCart{
  color:black;
  text-decoration:underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.imgCart{
  width:70px;
  height:70px;
}

.centerTable{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cartLeft{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartLeft button{
  margin-right: 30px;
}

.table-border{
  border-bottom: 1px solid #000;
}

/* Clase de ButtonBack */

.BackClass{
  color: #000;
}