/* main{
  padding: 20%;
  background-color: bisque;
} */

/* clase navbar */

.sectionNav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(129, 129, 129, 0.992);
} 
.sectionNav a{
color: black;
}
.sectionNav img{
  width: 30px;
  height: 30px;
}

.SpaceWallet{
  margin-top: 13px;
}

/* Clase Items */

.imgItem{
  max-width: 540px;
}

.card{
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

/* Class ItemDetail */

.imgItemDetail{
  width: 18rem;
}

/* Padding de productos */

/* .paddingCard{
  padding-left: 100px;
} */

/* Padding Producs Detail */

/* .paddingContainerDetail{
  padding-left: 20%;
} */

.paddingItemDetail{
  text-align: center;
  display: flex;
  justify-content: space-around
}

.centerButtonItemCount{
  display: flex;
  justify-content: space-around;
}

